body{
    background-color:white;
}
header,section.control{
    background-color:#7B3B3B; /* BioGRID maroon */
    color:white;
    padding-left:1ex;
    padding-right:1ex;
    padding-bottom:1ex;
    margin-bottom:1ex;

    position:relative;
    width:40ex;
    right:0;
}
section.control a{
    text-decoration:none;
    font-weight:bolder;
}
section.control a:link{
    color:gray;
}
section.control a:visited{
    color:silver;
}


.old{
    background-color:silver;
    background-color:rgba(192,192,192,0.5);
}

tbody td,thead th{
    border:1px solid black;
}
thead,tbody{
    counter-reset:cn;
}
thead th:before{
    counter-increment:cn;
    content:counter(cn) ". ";
}
tbody th{
    white-space:pre;
}

tbody th:before{
    counter-increment:cn;
    content:counter(cn) ".";
}
/*
tbody th{
    background-color:white;
}
*/

section#main{
/*    border:1px solid pink; */
    position:fixed;
    left:45ex;
    top:0;
    bottom:1in;
}

section#main[title=Graph]{
    right:0;
    bottom:0;
}


#graph{
/*    border:1px dotted black; */
    width:100%;
    height:100%;
}

form[name=arbor] input{
    vertical-align:top;
}