body{
    font-family:"Trebuchet MS","Arial","Helvetica","Verdana","sans-serif";
    font-size:10pt;
}

header,#sources,#sources>section{
    background-color:#7B3B3B; /* BioGRID maroon */
    color:white;
}
header a,section#sources a{
    text-decoration:none;
    font-weight:bolder;
}
header a,section#sources a:link{
    color:gray;
}
header a,section#sources a:visited{
    color:silver;
}

header{
    position:absolute;
    top:0;
    height:1in;
    left:0;
    right:0;
}
#select{
    position:absolute;
    left:50%;
    top:0;
}

section#sources{
    position:absolute;
    top:0; /* 1in */
    left:0;
    width:3in;
    bottom:0;
}

#display{
    position:fixed;
}
section.main{
    border:1ex outset silver;
/*    background-color:white;*/
    position:fixed;
    top:0; /* 1in */
    left:3in;
    right:0;
}
section.main.fullScreen{
    bottom:0;
}



section.main.fullScreen>*{
    position:absolute;
    width:100%;
    height:100%;
}

