
body{
 font-family:sans-serif;
 font-size:12px;
 background-color:#EEE8D5; /* Base2 */
 color:#586E75; /* Base01 */
}
a[href]{color:#268BD2} /* blue */

.wait{cursor:wait}
td{border:2px outset black}
.blank{border:none;text-align:center}
