
body{
 font-family:sans-serif;
 font-size:12px;
 background-color:#EEE8D5; /* Base2 */
 color:#586E75; /* Base01 */
}
a[href]{color:#268BD2} /* blue */

.wait{cursor:wait}
td{border:2px outset #93A1A1}
.blank{border:none;text-align:center}
.warn{
color:#DC322F; /* red */
text-shadow:#93A1A1 6px 6px 6px;
}
a:link{color:#268BD2} /* blue */
a:visited{color:#6C71C4} /* violet */




thead>tr>th:after{content:'⬍';color:#93A1A1} /* base1 */
thead>tr>th.headerSortUp:after{content:'⬆';color:#268BD2} /* blue */
thead>tr>th.headerSortDown:after{content:'⬇';color:#268BD2} /* blue */


#interactions{border-collapse:collapse}
#interactions td{border:none}
#interactions .odd{background-color:#073642}
#interactions .even{background-color:#002B40}
