@namespace xlink "http://www.w3.org/1999/xlink";

svg{font-size:12px;font-family:sans-serif;
background-color:#eee8d5;fill:#839496} /* base2 base0 */
path{stroke:#268bd2;stroke-opacity:.1;fill:none;} /* blue */

.button,a[xlink|href]{fill:#268bd2} /* blue */
a[xlink|href=""]{fill:#839496} /* base0 */

.node text{alignment-baseline:middle}

path.taxon{stroke:black;stroke-width:1;stroke-opacity:.3;}
path.highlight{stroke:#dc322f;stroke-opacity:.3;} /* red */
.highlight text{font-size:150%;font-weight:bold;}

#REST-evidenceList text{text-anchor:end;} /* font-size:100%;} */
text.all{font-size:150%!important;}

.taxa{fill-opacity:.5}
.restWait{cursor:wait}
#BGVinfo,#REST-evidenceList{cursor:auto}
