svg{background-color:#eee8d5;fill:#839496;} /* base2 base0 */

a{text-decoration:underline;fill:#268bd2;} /* blue */
text{font-size:10px;font-family:sans-serif;}
text.over{font-size:15px;font-weight:bold;}

path{stroke:#268bd2;stroke-opacity:.1;fill:none;} /* blue */
/* path.physical{stroke:#859900;} green */
/* path.genetic{stroke:#cb4b16;} orange */
path.over{stroke:#dc322f;stroke-opacity:.4;} /* red */
