dd{
height:1em;
}


#throughputFilter{
    position:absolute;
    left:5in;
    width:4in;

    top:0em;
    height:2em;
    margin:2em;
}
#interactionFilter{
    position:absolute;
    left:5in;
    width:4in;

    top:4em;
    height:5em;
    margin:2em;
}

#evidenceFilter{
    position:absolute;
    left:5in;
    width:4in;

    top:11em;
    margin:2em;
    height:5em;
}
#evidenceFilter select{
    float:right;
}


#globalInfo{
    position:absolute;
    left:5in;
    width:2in;

    top:18em;
    margin:2em;
}

#nodeInfo{
    position:absolute;
    left:7in;
    top:18em;
    margin:2em;
}
