@namespace xlink "http://www.w3.org/1999/xlink";

svg{font-size:12px;font-family:sans-serif;
background-color:#eee8d5;fill:#839496} /* base2 base0 */
path{stroke:#268bd2} /* blue */

.button,a[xlink|href]{fill:#268bd2;cursor:pointer} /* blue */
a[xlink|href=""]{fill:#839496;cursor: /* base0 */

path.taxon{stroke:black;stroke-width:1;stroke-opacity:.3;}
path.highlight{stroke:#dc322f} /* red */
.highlight text{font-weight:bold}

.taxa{fill-opacity:.5}
.restWait{cursor:wait}
#BGVinfo{cursor:text}
